html {
  scroll-behavior: smooth
}

@font-face {
  font-family: 'Lexend';
  src: url('/src/Lexend-Regular.ttf');
}

body {
  font-family: 'Lexend', sans-serif;
  color: aliceblue;
  background-image: url('/src/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  animation: colorCycle 5s infinite;
  justify-content: center;
  margin: 0 auto;
}

@keyframes colorCycle {
  0% {
    background-color: rgb(10, 10, 10);
  }

  50% {
    background-color: rgb(60, 0, 0);
  }

  100% {
    background-color: rgb(10, 10, 10);
  }
}

h1, h2 {
  margin: 0;
}

.main {
  max-width: 85%;
  margin: auto;
}

.topnav {
  position: fixed;
  overflow: hidden;
  padding: 12px 0 12px 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  /* border-radius: 20px; */
  width: 100%;
  z-index: 100;
}

.topnav a {
  font-size: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 20px;
  color: white;
  transition: background-color 0.5s ease;
}

.topnav a:hover {
  color: rgb(255, 125, 125);
  transition: color 0.3s ease;
}

.topnav a:not(:hover) {
  color: white;
  transition: color 0.3s ease;
}

.major-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.major-content a {
  color: rgb(255, 60, 60)
}

/* Major content 1 */
.self-card {
  text-align: center;
}

#self-title {
  font-size: 50px;
}

#self-sub-title {
  font-size: 40px;
}

#self-links {
  padding-top: 20px;
}

a img {
  max-width: 40px;
  margin: 8px;
}

/* Major content 2  */
.about-me-desc {
  display: flex;
}

.about-me-item {
  border-radius: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8)
}

.text-block {
  flex-basis: 60%;
  position: relative;
  margin: auto;
}

.text-block p {
  font-size: 20px;
}

.about-me-desc img {
  max-width: 320px;
}

.image-block {
  flex-basis: 40%;
  position: relative;
  text-align: center;
  margin: auto;
}

/* Major content 3 */
.project-container {
  margin: 0;
}

#repos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#repos-list p {
  font-size: 18px;
}

#repos-list a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(55, 25, 25);
}

#repos-list a:hover {
  background-color: rgb(90, 45, 45);
  color: rgb(255, 125, 125);
  transition: color 0.4s ease;
}

#repos-list a:not(:hover) {
  background-color: rgb(55, 25, 25);
  transition: background-color 0.4s ease;
}

.repo-container {
  position: relative;
  width: 25%;
  margin: 8px 16px 8px 16px;
  padding: 20px 20px 75px 20px;

  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 49, 49, 0.4);
  border-radius: 20px;
}

.repo-container:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.4s ease;
}

.repo-container:not(:hover) {
  transition: 0.4s ease;
}

.repo-container .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Major content 4 */
.contact p {
  font-size: 18px;
  margin: 4px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact .btn {
  font-size: 18px;
  text-decoration: none;
  margin: 16px;
  padding: 16px;
  border-radius: 10px;
  background-color: rgb(55, 25, 25);
}

.contact .btn:hover {
  background-color: rgb(90, 45, 45);
  color: rgb(255, 125, 125);
  transition: background-color 0.4s ease;
  transition: color 0.4s ease;
}

.contact .btn:not(:hover) {
  background-color: rgb(55, 25, 25);
  transition: background-color 0.4s ease;
}

/* Footer */
.footer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer img {
  max-width: 24px;
}

/* Style */
#title {
  font-size: 40px;
  margin-bottom: 30px;
  border-bottom: 4px solid rgb(255, 49, 49);
}

#long-text {
  color: rgb(200, 200, 200);
}

#highlight {
  color: rgb(255, 125, 125);
}

#important {
  color: rgb(255, 60, 60)
}

/* Animation */
#home, #about, #project, #contact {
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  #self-title {
    font-size: 35px;
  }

  #self-sub-title {
    font-size: 30px;
  }

  #title {
    font-size: 30px;
  }

  .about-me-desc img {
    max-width: 280px;
  }

  .repo-container h2 {
    font-size: 13px;
  }

  #repos-list p {
    font-size: 12px;
  }

  .repo-container a {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {

  /* Nav bar */
  .topnav .main {
    text-align: center;
  }

  .topnav .main a {
    display: inline-block;
  }

  /* About Me */
  .about-me-desc {
    display: flex;
    flex-direction: column;
  }

  .about-me-desc p {
    font-size: 15px;
  }

  .about-me .text-block {
    order: 2;
  }

  .about-me {
    order: 3;
  }

  /* Repo list */
  .repo-container {
    width: 50%;
    padding-bottom: 50px;
  }

  .repo-container h2 {
    font-size: 16px;
  }

  #repos-list p {
    font-size: 15px;
  }

  /* Contact Me */
  .contact p {
    font-size: 14px;
  }
}

@media (max-width: 1400px) {
  .repo-container h2 {
    font-size: 26px;
  }
}